/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log



*.txt
public/js/assets/adataTables.bootstrap4.min.js
public/js/assets/ajquery.dataTables.min.js
public/js/assets/angular.min.js
public/js/assets/app.js
public/js/assets/bootstrap.bundle.min.js
public/js/assets/dataTables.bootstrap4.min.js
public/js/assets/jquery.dataTables.min.js
public/js/assets/jquery.min.js
public/js/assets/loaded.js
public/js/assets/themeswitcher.js
